@model BlockchainArchive.Models.File

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>File</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StorageUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StorageUrl)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HistoryEntries)
        </dt>
        <dd class="col-sm-10">
            @if (Model.HistoryEntries != null)
            {
                foreach (var entry in Model.HistoryEntries)
                {
                    var dateTime = entry.Timestamp.ToString("dd-MM-yyyy HH:mm:ss");
                    var value = string.Format($"{entry.Status} - {dateTime}");

                    @Html.DisplayFor(modelitem => value);
                }
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FileOwners)
        </dt>
        <dd class="col-sm-10">
            @if (Model.FileOwners != null)
            {
                foreach (var fileOwner in Model.FileOwners)
                {
                    var value = string.Format($"{fileOwner.Owner.FirstName} {fileOwner.Owner.LastName},");
                    @Html.DisplayFor(modelitem => value);
                }
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Verify" asp-route-id="@Model.Guid">Verify</a> |
    <a asp-action="Index">Back to List</a>
</div>
